rope
flake8
importmagic
autopep8
yapf
# also adds this for autocomplete
# i need to downgrade setup tools in order to install flask
setuptools==21.2.1
Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.10
argparse==1.2.1
click==6.6
gunicorn==19.6.0
itsdangerous==0.24
peewee==2.8.2
wsgiref==0.1.2
