#userFeed {
    padding-left: 20%;
    padding-right: 20%;
}

.userAvatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.feedcontent {
    background-color: #fff;
    border: #ddd 1px solid;
    margin-bottom: 30px;
}

.feedcontent .row {
    margin : 10px;
}

#suggestFollowers .userThumb {
    height: 40px;
    width: 40px;
}

#suggestFollowers {
    max-height: 300px;
    overflow-y: scroll;
}

#suggestFollowers .userLink {
    margin-left: 10px;
    font-size: 1.1em;
}

#suggestFollowers .followButton {
    border-radius: 0px;
}